/* tapblet */
@media (max-width: 1024px) { 
    .navtop    
    {
        display: none;
    }
    .menu{
        display: none;
    }
    .main_menu .hotline{
        display:none ;
    }
    .logo{
        display: none;
    }
    .main_menu .timkiem{
        display: none;
    }
    .row{
        width: 95%;
        margin: 0 auto;
    }

    .main_menu {
        /* background-color: black; */
        border-bottom:2px solid gray ;   
       
    }
    .banner2{
        /* display: none; */
    }
    .banner3{
        /* display: none; */
    }
    .banner1{


    }
  

    
}
/* mobai */
@media screen and (max-width: 768px ) {
    .main_menu {
        /* background-color: black; */
        border-bottom:2px solid gray ;
        margin:  0 0;
        /* height: 20px; */
      
    }
    .row{
        width: 99%;
        margin: 0 auto;
    }

    .banner1{
        display: none;
    }
    .banner2{
        display: none;
    }
    .banner3{
        display: none;
    }
   .khuyenmai{
    display: none;
   }
   
}

/*destop  */
@media screen and (min-width: 1024px) {
    .main_menu i {
      display:none;
    }
    .main_menu .logo_con {
        display: none;
    }
    .row{
        width: 85%;
        margin: 0 auto;
       
    }
    
    .main_menu .menu_left{
        display: none;

    }
    .main_menu .menu_right{
        display: none;
    }
 
 
  }